// Define variables for your color scheme

// For example:
//$red: #FD1015;
$blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #03b120;
$gray: #585858;
$wheat: wheat;
$light-gray: rgb(231, 229, 229);
$white: rgb(237, 233, 233);
$black: rgb(15, 15, 15);

// Our pallete:
$blue: #3273db;
$pink: #da7ecf;
$purple: #B01E68;
$red: #DC3535;
$orange: #F49D1A;
$light-yellow: #fff0ac;
$yellow: #FFE15D;
$green: #03b120;
$gray: #585858;
$wheat: wheat;
$light-gray: #c9c9c9;
$white: rgb(237, 233, 233);
$black: rgb(15, 15, 15);
