<div class="overall-bookings-container">
  <div class="bookings-up-container">
  <div class="user-info-container">
  <h5><%= current_user.email %></h5>
  <p>User details: In fermentum justo eu dictum vehicula.
   Nulla cursus purus in leo pretium sodales. Morbi
   viverra vehicula sagittis. Suspendisse eget ante et
    sapien lobortis aliquam. Ut et eros leo. Pellentesque
    vehicula diam nec pellentesque posuere. Vestibulum
    rutrum, quam in dapibus sodales, justo tellus
    efficitur mi, ut bibendum sapien lectus
    commodo est. </p>
  </div>
  <div class="bookings-user-avatar">
    <%= image_tag("Le Wagon 096-XL.jpg") %>
  </div>
  </div>

  <div class="bookings-down-container">
    <div class="bookings-title-container">
    <h5> Your bookings</h5>
    </div>
    <div class="bookings-cards-container">
      <div class="bookings-card-container">
        <div class="clown-info">
          <div id="you-booked">
            <h5>You booked #clown_name clown avatar </h5>
          </div>
          <div id="from-date-to-date">
            <p>From #start_date to #end_date</p>
          </div>

          <div id="clown-details">
            <p>Clown details: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Etiam ut dolor a elit
            imperdiet pulvinar et nec enim. Mauris sollicitudin
            mauris massa, a sagittis augue faucibus eget.
            Proin vitae ex et sapien rutrum iaculis ut quis mi.
            </p>
          </div>
        </div>
        <div class="map-container">
        <h5>This is were the map should be</h5>
        </div>
      </div>
      <div class="bookings-card-container">
        card 2
      </div>
    </div>
  </div>


</div>
