<div class="banner-titulo">
  <h1 class="text-shadow-banner text-center">Welcome to Les Bouffons</h1>
     <%= image_tag "clown_image.png"%>
     <%= link_to "Book your clown", offers_path, class: "btn btn-book" %>
     <a class="btn btn-details" href="#">More details</a>
</div>
