<div class="banner-titulo">
  <div class="banner-text">
    <h1 class="text-shadow-banner text-center">Welcome to Les Bouffons</h1>
    <%= image_tag "clown_image.png", width: 400, height: 400 %>
    <div class="banner-buttons p-5">
      <%= link_to "Book your clown", offers_path, class: "btn btn-book" %>
    </div>
  </div>
</div>


<div class="homecontainer">
  <div class="titulo">
    <h1 class="about-us text-center p-3">About us</h1>
    <p class="text text-center">We are Les Bouffons! We bring joy and fun moments to you, your family and friends.</p>
    <p class="text text-center fs-1">Turn your day funny and special...book a clown with us!</p>
  </div>

  <div class="cards row row.cols-1 row-cols-md-1 g-1 m-2 p-2">
    <% @clowns.each do |clown| %>
      <%= render "cardhome", clown: clown %>
    <% end %>
  </div>

  <div class="text-center p-5">
    <%= link_to "Book your clown", offers_path, class: "btn btn-book" %>
  </div>
</div>
