<div class="banner-titulo">
  <span class="text">Welcome to Les Bouffons</span>

     <%= image_tag "clown_image.png"%>
     <a class="btn btn-book" href="#">Book your clown</a>
     <a class="btn btn-details" href="#">More details</a>
</div>
