<div class="banner-titulo">
  <h1>Welcome to Les Bouffons</h1>
     <%= image_tag "clown_image.png"%>
     <a class="btn btn-book" href="#">Book your clown</a>
     <a class="btn btn-details" href="#">More details</a>
</div>