<div class="banner-titulo">
  <div class="banner-text">

    <h1 class="text-shadow-banner text-center">Welcome to Les Bouffons</h1>
    <%= image_tag "clown_image.png", width: 400, height: 400 %>
    <div class="banner-buttons">
      <%= link_to "Book your clown", offers_path, class: "btn btn-book" %>
      <a class="btn btn-details" href="#">About us</a>
    </div>
  </div>
</div>
