<div class="container">
  <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5"></div>
    <h1 class="text-center">this is the profile</h1>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/logo.png" alt="Profile Picture" class="rounded-circle">
    <h2> Hi <%=  "Loic" #Profile.name %> </h2>


</div>
