
<div class="cards row row.cols-1 row-cols-md-3 g-4 m-3 bg-light">
  <div class="col col-sm-10 col-md-6 col-lg-10">
    <h1 class="h1">These happy clowns are at your service! </h1>
  </div>
  <% @clowns.each do |clown| %>
      <%= render "card", clown: clown %>
  <% end %>

</div>
