<h1 class="h1 m-3">These happy clowns are at your service! </h1>
<div class="container-fluid">
  <div class="row m-3 bg-light">
    <% @clowns.each do |clown| %>
      <%= render "card", clown: clown %>
    <% end %>
  </div>
</div>
