.overall-container {
  background-color: #9EDAE1;
  display: flex;
  padding: 10px;
}

.left-container {
  width: 60%;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.d-contents {
  display: contents;
}

.form-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.back-to-clowns-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.upload-profile-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 15%;
}

.upload-parties-container {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 15%;
}

.preview-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 70%;
}

.features-container {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
