.everything-container {
  position: relative;
  display: flex;
  padding: 10px;

  &::before {
  content: '';
  position:absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image:asset-url("Colorful-Circles-on-White-Backgrounds.jpg");
  background-size: cover;
  background-position: top center;
  opacity: 0.75;
  }
}



.left-container {
  position: relative;
  width: 60%;
}

.right-container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.d-contents {
  display: contents;
}

.form-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.back-to-clowns-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 25%;
  text-align: center;
}

// .upload-profile-container {
//   background-color: white;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//   border-radius: 10px;
//   margin: 10px;
//   padding: 10px;
//   height: 15%;
// }

.upload-container {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 25%;

}

.preview-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 75%;
}

.features-container {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.box-upload {
  margin-top: 10px;
}

.back-to-clown-link {
  text-decoration: none;
  color: black;
}
