
.banner_profile {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-family: $title-font;
  background-size: 90%;
  background: asset-url('Colorful-Circles-on-White-Backgrounds.jpg');
}

.avatar_profile {
  position: absolute;
  top: 320px;
  left: 80px;
}

.avatar-xl {
  width: 150px;
  border-radius: 50%;
}

#content_profile {
  margin-top: 120px;
  margin-bottom: 45px;
}

#features_button {
  border-radius: 100px;
  text-decoration: none;

}

.form-group {
  margin-bottom: 1rem;
}

.name-location-container {
  font-family: $title-font;
  margin-top: 10px;
}

#info-booking-container {
  padding: 1rem;
}


.card-category-info {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 )
}

.card-category-booking {
  pading: 1rem;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 )
}

.booking-container {
  padding: 1rem;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  margin: 0px 0px 50px 0;
}
