body {
  margin: 0;
  font-family: "Helvetica", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  text-align: left;
  background-color: #F4F4F4;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
body {
  display: block;
  margin: 8px;
}
:root {
  --blue: #167FFB;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #FD1015;
  --orange: #E67E22;
  --yellow: #FFC65A;
  --green: #1EDD88;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #167FFB;
  --secondary: #6c757d;
  --success: #1EDD88;
  --info: #FFC65A;
  --warning: #E67E22;
  --danger: #FD1015;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Helvetica", "Helvetica", "sans-serif";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
