.homecontainer {
  background-color: $pink;
  font-family: $title-font;
  font-size: 35px;
  color: $white;
}

.about-us {
  font-family: $title-font;
  color: $purple;
  font-size: 90px;
  padding-top: 20px;
}
