@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.banner-titulo {
  .text-shadow-banner {
    font-family: 'Nerko One', cursive;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $purple;
    text-shadow: 1px 1px 1px white,
        1px 2px 1px white,
        1px 3px 1px white,
        1px 4px 1px white,
        1px 5px 1px white,
        1px 6px 1px white,
        1px 7px 1px white,
        1px 8px 1px white,
        1px 9px 1px white,
        1px 10px 1px white,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.banner-titulo {
  background: asset-url('Colorful-Circles-on-White-Backgrounds.jpg');
}
