@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.banner-titulo {
  h1 {
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
  }
}

.banner-titulo {
  background-color: #E67E22;
}
