.btn-details {
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 25px;
  width: 250px;
  padding: 30px;
  border-radius: 8px;
  background: $purple;
  transition: background 0.3s ease;
}

.btn-details:hover {
  background: $purple;
  color: $black;
}

.btn-book {
  color: white;
  font-family: 'Nerko One', cursive;
  margin-right: 20px;
  font-size: 25px;
  width: 250px;
  padding: 30px;
  border-radius: 8px;
  background: $pink;
  transition: background 0.3s ease;
}

.btn-book:hover {
  background: $pink;
  color: $black;
}

.btn-start {
  color: $white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: $light-gray;
  transition: background 0.3s ease;
}

.btn-start:hover {
  background: $black;
  color: $white;
}
