.btn-details {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #060606;
  transition: background 0.3s ease;
}

.btn-details:hover {
  background: #8A2BE2;
  color: white;
}

.btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #060606;
  transition: background 0.3s ease;
}

.btn-book:hover {
  background: #8A2BE2;
  color: white;
}

.btn-start {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: #8d8c90;
  transition: background 0.3s ease;
}

.btn-start:hover {
  background: #060606;
  color: white;
}
