.btn-details {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: $purple;
  transition: background 0.3s ease;
}

.btn-details:hover {
  background: $black;
  color: $white;
}

.btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: $red;
  transition: background 0.3s ease;
}

.btn-book:hover {
  background: $black;
  color: $white;
}

.btn-start {
  color: $white;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: $light-gray;
  transition: background 0.3s ease;
}

.btn-start:hover {
  background: $black;
  color: $white;
}
