.card-main{
  font-family: 'Nerko One', cursive;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  min-height: 260px;
  text-align: left;
}

.card-price{
  position: absolute;
  bottom: 5px;
  right: 30px;
  font-size: 35px;
  color: $pink;
}

.card-link {
  background-color: $pink;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  position: absolute;
  bottom: 15px;
  right: 120px;
  text-align: center;
}

.card-link {
  color: $white;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  font-family: $title-font;

  &:hover {
    background-color: $white;
    color: $pink;
  }
}

.shadowed-text {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.img-fluid{
  border-radius: 10%;
  padding-top: 10%;
  padding-left: 5%;
}

.h1 {
  font-size: 70px;
  color: $orange;
  font-family: $title-font;
  }

.index-photos {
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  max-height: 240px;
  position: absolute;
  top: 10px;
  left: 10px;
  }

