.navbar-lewagon {
  justify-content: space-between;
  background: $pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .dropdown-logo {
  padding-top: 10px;
  text-align: center;
  width: 20px;
  border-radius: 30%;
  cursor: pointer;
 }

 .navbar{
  position:fixed;
  width: 100%;
 }
