.overall-bookings-container {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.bookings-up-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  width: 99%;
  align-self: center;
  justify-content: space-between;
}

.bookings-cards-container {
  display: flex;
}

.bookings-card-container {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
}

.bookings-title-container {
  margin: 10px;
}

.map-container {
  background-color: lightgrey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 50%;
  min-height: 250px;
}

.clown-info {
  width: 50%;
  padding: 10px;
}

#you-booked {
  border-bottom: solid lightgrey 1px;
}

#from-date-to-date {
  padding-top: 5px;
  border-bottom: solid lightgrey 1px;
}

#clown-details {
  padding-top: 5px;
}

.bookings-user-avatar {
    align-self: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 125%;
      object-fit: cover;
    }
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#each_btn {
  background-color: lightgoldenrodyellow;
  border-radius: 30%;
  width: 50px;
  height: 25px;
  margin: 10px;
}
