.login-card {
  width: 500px;
  background: whitesmoke;
  padding: 24px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 );
}



.btn-login{
  background-color: #da7ecf;
  border-radius: 5px;
}

.btn-sign-up{
  background-color: #da7ecf;
  border-radius: 5px;
}

.registration-card {
  width: 500px;
  background: whitesmoke;
  padding: 24px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 );
}
